<!DOCTYPE html>
<html lang="en">

<head>
     <!-- Title Meta -->
     <meta charset="utf-8" />
     <title>Sign In | Raydar - Responsive Admin Dashboard Template</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="description" content="A fully responsive premium admin dashboard template" />
     <meta name="author" content="Techzaa" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />

     <!-- App favicon -->
     <link rel="shortcut icon" href="assets/images/favicon.ico">

     <!-- Vendor css (Require in all Page) -->
     <link href="assets/css/vendor.min.css" rel="stylesheet" type="text/css" />

     <!-- Icons css (Require in all Page) -->
     <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />

     <!-- App css (Require in all Page) -->
     <link href="assets/css/app.min.css" rel="stylesheet" type="text/css" />
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

     <!-- Theme Config js (Require in all Page) -->
     <script src="assets/js/config.min.js"></script>
     <!-- Bootstrap's class "is-invalid" is already styled, but just in case -->
     <style>
          .is-invalid {
               border-color: #dc3545 !important;
          }
     </style>

</head>

<body class="authentication-bg" ng-app="loginApp" ng-controller="LoginController">

     <div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5">
          <div class="container">
               <div class="row justify-content-center">
                    <div class="col-xl-5">
                         <div class="card auth-card">
                              <div class="card-body px-3 ">
                                   <div class="mx-auto mb-4 text-center auth-logo">
                                        <a href="index.html" class="logo-dark">
                                             <img src="assets/images/LOGO NM (1).png" height="128" alt="logo dark">
                                        </a>

                                        <a href="index.html" class="logo-light">
                                             <img src="assets/images/LOGO NM (1).png" height="28" alt="logo light">
                                        </a>
                                   </div>

                                   <h2 class="fw-bold text-uppercase text-center fs-18">Sign In</h2>


                                   <div class="px-4">
                                        <form name="loginForm" ng-submit="login()" novalidate>

                                             <!-- Email Input -->
                                             <div class="mb-3">
                                                  <label class="form-label" for="example-email">Email</label>
                                                  <input type="email" id="example-email" name="email"
                                                       ng-model="user.email"
                                                       ng-class="{'is-invalid': emailInvalid, 'is-valid': emailValid}"
                                                       ng-change="validateEmail()"
                                                       class="form-control bg-light bg-opacity-50 border-light py-2"
                                                       placeholder="@newmoon.vn" required>
                                                  <small class="text-danger" ng-show="emailInvalid">Please enter a valid
                                                       email address.</small>
                                             </div>

                                             <!-- Password Input -->
                                             <div class="mb-3 position-relative">

                                                  <div class="mb-3 position-relative">
                                                       <label class="form-label" for="example-password">Password</label>
                                                       <input type="{{showPassword ? 'text' : 'password'}}"
                                                            id="example-password" name="password"
                                                            ng-model="user.password" ng-change="validatePassword()"
                                                            ng-class="{'is-invalid': passwordInvalid, 'is-valid': passwordValid}"
                                                            class="form-control bg-light bg-opacity-50 border-light py-2"
                                                            placeholder="Enter your password" required />

                                                       <!-- Icon con mắt với margin-right -->
                                                       <span ng-click="showPassword = !showPassword"
                                                            style="position: absolute; top: 38px; right: 15px; cursor: pointer; user-select: none; margin-right: 18px;">
                                                            <i class="fa"
                                                                 ng-class="showPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
                                                       </span>

                                                       <small class="text-danger"
                                                            ng-show="passwordInvalid && !isMinLength(user.password)">
                                                            Password must be at least 8 characters.<br>
                                                       </small>
                                                       <small class="text-danger"
                                                            ng-show="passwordInvalid && !hasUpperCase(user.password)">
                                                            Password must contain at least one uppercase letter.<br>
                                                       </small>
                                                       <small class="text-danger"
                                                            ng-show="passwordInvalid && !hasLowerCase(user.password)">
                                                            Password must contain at least one lowercase letter.<br>
                                                       </small>
                                                       <small class="text-danger"
                                                            ng-show="passwordInvalid && !hasNumber(user.password)">
                                                            Password must contain at least one number.<br>
                                                       </small>
                                                       <small class="text-danger"
                                                            ng-show="passwordInvalid && !hasSpecialChar(user.password)">
                                                            Password must contain at least one special character.<br>
                                                       </small>
                                                  </div>



                                                  <!-- Remember Me -->
                                                  <div class="mb-3">
                                                       <div class="form-check">
                                                            <input type="checkbox" class="form-check-input"
                                                                 id="checkbox-signin" ng-model="user.rememberMe">
                                                            <label class="form-check-label"
                                                                 for="checkbox-signin">Remember
                                                                 me</label>
                                                            <a href="auth-password.html"
                                                                 class="float-end text-muted text-underline-dashed ms-1">Reset
                                                                 password</a>
                                                       </div>

                                                  </div>

                                                  <!-- Submit -->
                                                  <div class="mb-1 text-center d-grid">
                                                       <button class="btn btn-danger py-2 fw-medium" type="submit"
                                                            ng-disabled="emailInvalid || passwordInvalid || !user.email || !user.password">Sign
                                                            In</button>
                                                  </div>
                                        </form>
                                   </div> <!-- end col -->
                              </div> <!-- end card-body -->
                         </div> <!-- end card -->


                    </div> <!-- end col -->
               </div> <!-- end row -->
          </div>
     </div>

     <!-- Vendor Javascript (Require in all Page) -->
     <script src="assets/js/vendor.min.js"></script>

     <!-- App Javascript (Require in all Page) -->
     <script src="assets/js/app.min.js"></script>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet" />

     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
     <!-- File JS chứa login -->
     <script src="assets/js/admin/login.js"></script>

</body>

</html>