
        <div class="page-content">

            <!-- Start Container Fluid -->
            <div class="container-fluid">

                <!-- ========== Page Title Start ========== -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="mb-0">Attendance</h4>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Table</a></li>
                                <li class="breadcrumb-item active">Attendance</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- ========== Page Title End ========== -->

                <div class="row" ng-app="myApp" ng-controller="UserController">

                    <div class="col-xl-12">
                        <div class="container my-4">
                            <div class="card shadow-sm">
                                <div class="card-header">
                                    <h5 class="mb-0">Pending update</h5>
                                </div>
                                <div class="card-body">



                                </div>

                            </div>
                        </div>





                    </div> <!-- end card body -->

                    <!-- end col -->


                </div> <!-- end row -->

            </div>
            <!-- End Container Fluid -->

            <!-- ========== Footer Start ========== -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 text-center">
                            <script>document.write(new Date().getFullYear())</script> &copy; Raydar. Crafted by
                            <iconify-icon icon="solar:hearts-bold-duotone"
                                class="fs-18 align-middle text-danger"></iconify-icon> <a href=""
                                class="fw-bold footer-text" target="_blank">Techzaa</a>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- ========== Footer End ========== -->

        </div>